In [17]:
import pandas as pd
import os

In [19]:
from skill_extractor import Skill_Extractor
from params import INPUT_PATH

In [21]:
nlx_sample = pd.read_csv(os.path.join(INPUT_PATH, 'nlx_tx_sample_data_gwu.csv'))

nlx_sample = nlx_sample[['description', 'job_id']]
nlx_sample = nlx_sample[1:3]

In [23]:
se = Skill_Extractor()

loading full_matcher ...
loading abv_matcher ...
loading full_uni_matcher ...
loading low_form_matcher ...
loading token_matcher ...

In [25]:
nlx_sample

                                         description    job_id
1  Enters data using computer applications. Assis...  70014023
2  Kforce has a client in Austin, Texas (TX) that...  70241308

In [27]:
output = se.extractor(nlx_sample, 'job_id', 'description')

/opt/anaconda3/lib/python3.11/site-packages/skillNer/utils.py:99: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  vec_similarity = token1.similarity(token2)
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/skill_extractor.py:240: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  skill_matches = skill_matches._append(temp, ignore_index=True)
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/skill_extractor.py:276: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted = extracted._append(aligned_skills, ignore_index=True)
/opt/anaconda3/lib/python3.11/site-packages/skillNer/utils.py:99: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  vec_similarity = token1.similarity(token2)
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/skill_extractor.py:240: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  skill_matches = skill_matches._append(temp, ignore_index=True)
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
/Users/vedantmahangade/Projects/PSCWP/LAiSER/laiser/utils.py:65: RuntimeWarning: invalid value encountered in scalar divide
  return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))

In [29]:
output

   Research ID            Raw Skill  Skill Tag  Correlation Coefficient
0     70014023           scheduling  ESCO.1121                 0.725615
1     70014023           additional   ESCO.775                 0.770659
2     70014023         mechanically   ESCO.614                 0.793043
3     70014023               filing   ESCO.292                 0.608391
4     70014023             position   ESCO.517                 0.685556
5     70014023                level   ESCO.907                 0.597929
6     70241308       data migration   ESCO.816                 0.945526
7     70241308        data analysis   ESCO.757                 0.967137
8     70241308       financial data   ESCO.433                 0.932569
9     70241308           sql server   ESCO.421                 0.827170
10    70241308               access   ESCO.417                 0.844642
11    70241308  revenue recognition   ESCO.159                 0.739323
12    70241308    unstructured data   ESCO.991                 1.000000
13    70241308    financial analyst   ESCO.761                 0.697644
14    70241308              sources   ESCO.487                 0.684921
15    70241308        sql databases   ESCO.322                 0.910668
16    70241308        systems logic  ESCO.1025                 0.904470
17    70241308                tools   ESCO.792                 0.846494
18    70241308                  sql   ESCO.443                 0.771396
19    70241308    financial service   ESCO.187                 0.847130
20    70241308        consolidating   ESCO.775                 0.813470