In [1]:
import pandas as pd
import os
import sys
sys.path.append('../')

In [2]:
from laiser.skill_extractor import Skill_Extractor
from laiser.params import INPUT_PATH

In [3]:
nlx_sample = pd.read_csv(os.path.join(INPUT_PATH, 'nlx_tx_sample_data_gwu.csv'))

nlx_sample = nlx_sample[['description', 'job_id']]
nlx_sample = nlx_sample[1:3]

In [4]:
se = Skill_Extractor()

GPU is not available. Using CPU for SkillNer model initialization.
loading full_matcher ...
loading abv_matcher ...
loading full_uni_matcher ...
loading low_form_matcher ...
loading token_matcher ...

In [5]:
nlx_sample

                                         description    job_id
1  Enters data using computer applications. Assis...  70014023
2  Kforce has a client in Austin, Texas (TX) that...  70241308

In [6]:
output = se.extractor(nlx_sample, 'job_id', 'description')

GPU is not available. Using SkillNer model for extraction.

c:\Users\phani\AppData\Local\Programs\Python\Python312\Lib\site-packages\skillNer\utils.py:99: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  vec_similarity = token1.similarity(token2)
i:\US Vachesam\Personal\GWU Summer Research\Codebase\GitHub\GWU Codebase (Fall 2023)\code-repo\notebooks\..\laiser\skill_extractor.py:251: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  skill_matches = pd.concat([skill_matches, temp], ignore_index=True)
i:\US Vachesam\Personal\GWU Summer Research\Codebase\GitHub\GWU Codebase (Fall 2023)\code-repo\notebooks\..\laiser\skill_extractor.py:290: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted = extracted._append(aligned_skills, ignore_index=True)

GPU is not available. Using SkillNer model for extraction.

c:\Users\phani\AppData\Local\Programs\Python\Python312\Lib\site-packages\skillNer\utils.py:99: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  vec_similarity = token1.similarity(token2)
i:\US Vachesam\Personal\GWU Summer Research\Codebase\GitHub\GWU Codebase (Fall 2023)\code-repo\notebooks\..\laiser\skill_extractor.py:251: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  skill_matches = pd.concat([skill_matches, temp], ignore_index=True)

In [7]:
# save the extracted skills to a csv file
output
# extracted.to_csv('extracted_skills.csv', index=False)

    Research ID      Raw Skill  Skill Tag  Correlation Coefficient
0      70014023     additional     ESCO.2                 0.750915
1      70014023     additional   ESCO.360                 0.758142
2      70014023     additional   ESCO.775                 0.770659
3      70014023   mechanically    ESCO.19                 0.755740
4      70014023   mechanically   ESCO.294                 0.770419
..          ...            ...        ...                      ...
579    70241308  sql databases   ESCO.210                 0.776287
580    70241308  sql databases   ESCO.322                 0.910668
581    70241308  sql databases   ESCO.350                 0.759439
582    70241308  sql databases   ESCO.802                 0.800960
583    70241308  sql databases  ESCO.1091                 0.789093

[584 rows x 4 columns]